<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="/website1/assets/img/2.jpg" class="rounded-circle">
            </div>
        
            <div class="col-md-8">
            <div class="card-body">
                <h1 class="display-6">The Second Heading <span class="display-6 text-muted">Is Pretty Cool Too.</span> </h1> 
            
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, facere laborum. Eum, voluptate numquam adipisci deserunt, repellat aliquam possimus ut itaque laboriosam doloremque ullam. Fugiat, iure veritatis. Voluptatum, vitae maxime?</p>
                
            </div>
            </div>
        </div>
    </div>
</div>
